/* Payne's Grey: #536878 */

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: #536878;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

pre,
textarea {
  background-color: #272727;
  color: #d8d8d8;
  padding: 10px;
  text-align: left;
}

.night {
  background: #536878;
  color: white;
}

.day {
  background: white;
  color: #536878;
}
